body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.jarak {
    width: 90%;
    margin: 0 auto;
}
.header {
    background-color: #000000;
    color: white;
    padding: 20px 0;
}
.menu {
    background-color: #004085;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu ul li {
    margin-right: 25px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main-flex {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px 0;
    min-height: 420px;
}

.kiri {
    width: 65%;
}

.kanan {
    width: 30%;
    border-left: 1px solid #ddd;
    padding-left: 20px;
}
.border {
    border: 2px solid #004085;
    margin-bottom: 20px;
    padding: 10px;
}

.btn {
    background: #000000; /
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}
.undecor {
    text-decoration: none;
    color: #004085;
}
.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
