body{
      background:#f3f3f3;
      color:#333;
      width:100%:
      font-family:sans-serif;
      margin:0 auto;
}

.header{
      width:90%;
      margin:auto;
      height:120px;
      line-height:120px;
      background:#417aa8;
      color:#fff;
}
.content{
      width:90%;
      margin:auto;
      height:420px;
      padding:0.1px;
      background:#fff;
      color:#333
}
.border{
      border:2px solid #4887b9
      margin-top:1pc;
      padding-bottom:1pc;
      padding-left:2pc;
      padding-right:2pc;
}
.kiri{
      width:70%;
      float:left;
      margin:auto;
      background:#fff;
      height:420px;
}
.kanan{
      width:30%;
      float:left;
      margin:auto;
      background:#fff
      height:420px;
}
.undercore{
      text-decoration:none;
}


.footer{
      width:90%;
      margin:auto;
      height:40px;
      line-height:40px;
      background:#417aa8;
      color:#fff;
      margin-bottom:1pc;
}
      
      






