body{
      background:#1D4157;
      color:#1D4157;
      width:100%:
      font-family:sans-serif;
      margin:0 auto;
}

.header{
      width:90%
      margin:auto;
      height:120px;
      line-height:120px;
      background:#417aa88;
      color:#fff;
}


